.MuiCard-root.product-card {
    transition: all 0.5s ease-in-out;
  }
  
  .MuiCard-root.product-card:hover {
    transform: scale(1.05);
    background-color: rgba(#429af1, 1);
  }
  .product-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-card{
    margin: 3%;
    width: 300px;
   
  }
  .product-card .content {
    padding-bottom: 0;
  }
  
  .product-card .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black
  }
  
  .product-card p {
    color: #c9d1d9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .product-card .price {
    margin-top: 10px;
    color: black
  }
  
  .product-card .custom-button {
    width: 100%;
    color:black
  }
  
  .product-card .custom-button:hover {
    background-color: #03dac5;
    color: #000000;
  }
  
  .product-card .custom-button svg {
    margin-right: 10px;
  }
  .searchContainer{
  width: 80%;
  margin: auto;
margin-top: 2vh;
  }
  .searchContainer form{
  text-align: right;
  }
  .searchContainer input{
    border-radius: 50px;
    height: 5vh;
    width: 22vh;
    font-size: 2vh;
  }
  .searchContainer input:hover{
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    outline: none;
    transition: 1s;
  }
  .searchContainer input:focus{
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: 2px solid black;
  }
  .searchContainer button{
    border-radius: 50px;
    margin-left: 0.5%;
    width: 4.5vh;
    height: 4.5vh;
    border: none
  }
  .searchContainer button:hover{
  background-color: black;
  color: white;
  transition: 1s;
  }