.title {
  color: #6e3b8f
}

#leftbox {
  float:left;
  width:15%;
}

#middlebox {
  float:left;
  width:45%;
}

#rightbox {
  float:right;
  width:40%;
}

.avatar-box {
  margin: 60px 0px;
  text-align:center;
}

.avatar {
  border-radius: 100%;
}

.history {
  background-color: #f1faee;
  border-radius: 20px;
  height: 300px;
}

.view-account{
background:#FFFFFF;
margin-top:20px;
}

.btn-primary{
  background-color: #6e3b8f;
  border: 0;
}

.btn-primary:hover{
  background-color:#ffd60a;
}
