@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

.productview{
    height: 770px;
    display: flex;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 40px;

}
.productview  img{
   margin-left: 40%;
    width: 350px;
    height: auto;
}
.productview .text{
    color: black;
    width: 100%;
    text-align: justify;
  text-justify: inter-word;
}
.productview h2{
    font-size: 2vw;
}
.productview h4{
    font-size: 1.4vw;
}
.productview .text span h1{
   font-size: 20px;
   font-weight: 300;
}
.productview h3{
    margin-bottom: 20px;
    font-size: 1vw;
    font-weight: 300;
} 
.productview .text .quantity{
   margin-bottom: 5px;
}

.productScreens {
    height: 300px;
    width: auto;
    object-fit: cover;
}

.linkOnImage {
    position: absolute;
    top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #2C0E37;
}

.linkOnImage:hover {
    color: #2C0E37
}

  .productDescription {
      
      display: flex;
      width: 50%;
      color: #2C0E37;
  }
  .productDescription p{
    font-size: 1.2vw; 
  }
 
  .productSummary {
      color: #2C0E37;
  }

  .productPrice {
      color: #6E578F;
      font-size: 28px;
      margin: 0;
  }

.btn-pixPrimary {
    background-color: #6E578F;
    color: white;
  }

  .btn-pixSecondary {
    background-color: #FFD103;
    color: white;
  }

.MuiContainer.root.product.view .custom.button{
    color: black;
    background-color: blueviolet;
}

.MuiContainer.root.product.view .custom.button svg{
    margin-right: 10px;
}
@media (max-width: 1550px){
    .productview{
     padding-top: 100px;
    }
    .productview  img{
        margin-left: 10vw;
        
     }
     .productDescription p{
        font-size: 1.8vw !important; 
      }
     
}
@media (max-width: 1260px){
    .productview{
     padding-top: 200px;
     margin-bottom: 90px;
    }
    .productview  img{
        margin-left: 0;
        width: 0.8;
        height: 0.8;
        
     }
     .productDescription p{
        font-size: 1.8vw !important; 
      }
     
}
@media (max-width: 810px){
    .productview{
        padding-top: 155px;
        margin-bottom: 30px;
       }
    .productview  img{
        margin-left: 0;
        
     }
     .productDescription p{
        font-size: 2.5vw !important; 
      }
      .productview h2{
        font-size: 2.5vw;
    }
    .productview h4{
        font-size: 2vw;
    }
}
@media (max-width: 680px){
    .productview{
        padding-top: 155px;
        margin-bottom: 0px;
       }
    
}
@media (max-width: 580px){
    .productview{
        padding-top: 25px;
       }
}