@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

.productview{
    min-height: 770px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 40px;

}
.productview > *{
    flex: 1 100%;
}
.productview  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: auto;
}
.productview .text{
    color: black;
    width: 100%;
    text-align: justify;
  text-justify: inter-word;
}
.productview h2{
    /* font-size: 2vw; */
    /* font-size: 4rem; */
}
.productview h4{
    /* font-size: 1.4vw; */
    font-size: 2rem;
}
.productview .text span h1{
   font-size: 20px;
   font-weight: 300;
}
.productview h3{
    margin-bottom: 20px;
    font-size: 1vw;
    font-weight: 300;
} 
.productview .text .quantity{
   margin-bottom: 5px;
}

.productScreens {
    height: 300px;
    width: auto;
    object-fit: cover;
}

.linkOnImage {
    position: absolute;
    top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #2C0E37;
}

.linkOnImage:hover {
    color: #2C0E37
}

  .productDescription {
      color: #2C0E37;
      margin-bottom: 20px;
  }
  .productDescription p{
    /* font-size: 1.2vw;  */
  }
 
  .productSummary {
      color: #2C0E37;
  }

  .productPrice {
      color: #6E578F;
      font-size: 28px;
      margin: 0;
  }

.btn-pixPrimary {
    background-color: #6E578F;
    color: white;
  }

  .btn-pixSecondary {
    background-color: #FFD103;
    color: white;
  }

.MuiContainer.root.product.view .custom.button{
    color: black;
    background-color: blueviolet;
}

.MuiContainer.root.product.view .custom.button svg{
    margin-right: 10px;
}
@media (max-width: 1550px){
    .productview{
     padding-top: 100px;
    }
     .productDescription p{
        /* font-size: 1.8vw !important;  */
      }
     
}
@media (max-width: 1260px){
    .productview{
     padding-top: 200px;
     margin-bottom: 90px;
    }
     .productDescription p{
        /* font-size: 1.8vw !important;  */
      }
     
}
@media (max-width: 810px){
    .productview{
        padding-top: 175px;
        margin-bottom: 30px;
        flex: 2 0px;
       }
    .productview  img{
        order: 1; 
     }
     .productDescription p{
        order: 2;
        /* font-size: 2.5vw !important;  */
        font-size: 1rem;
      }
      .productview h2{
        /* font-size: 3.5vw; */
    }
    .productview h4{
        /* font-size: 2.5vw; */
    }
    .display-3{
        font-size: 3.5rem;
    }
}
@media (max-width: 680px){
    .productview{
        padding-top: 155px;
        margin-bottom: 0px;
        flex: 1 auto;
       }
       .productDescription p {
           font-size: 0.9rem;
       }
    
}
@media (max-width: 580px){
    .productview{
        padding-top: 155px;
       }
}