.NavbarFully{
    height: 20vh;
    font-family: 'Lato', sans-serif;
    font-size: 1.2vw;
    background-color: white;
    color: blueviolet;
}
.navbar-light .navbar-nav .nav-link {
    color: blueviolet
}
.navbarr{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.logo{
    width: 40vh;
    margin-top: -10px;
    margin-bottom: -20px;
    margin-left: 2vw;
}
.NavOptions{
    margin-left: 22vh;
}
.Products{
    margin-left: 3vw;
    margin-right: 3vw;
    color: blueviolet;
}
.basketContainer{
 margin-left: 40vw;
    margin-right: 10vw;
}

.basket-wrapper .custom-basket {
    font-size: 50px;
    color: blueviolet;
  }
  .koszyk{
      font-size: 0;
  }
  .basket-wrapper strong {
    color: blueviolet;
  }
  .navbarr .btn1 {
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    border: none;
    color: blueviolet;
    transition: .3s;
    font-weight: 600;
    margin-right: 3vw;
    font-size: 1vw;
  }
  .navbarr .btn {
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    border: 3px solid blueviolet;
    color: blueviolet;
    transition: .3s;
    font-weight: 600;
    font-size: 1vw;
  }
  .navbarr .btn:hover,.navbarr .btn1:hover {
    animation: pulse 1s infinite;
    transition: .3s;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }

@media (min-width: 1001px) {
.NavOptions
{
    position: absolute;
    top: 50%;
    right: -5vw;
    left: 0;
    width: 800px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
    padding: 3vh;
}
.NavOptions a
{
    position: relative;
    display: table-cell;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s ease color;
}
.NavOptions a:before, .NavOptions a:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

.NavOptions a:before
{
    top: -30px;
    left: -30px;
    width: 20px;
    height: 20px;
}

.NavOptions a:after
{
    top: -20px;
    left: -20px;
    width: 30px;
    height: 30px
}

.NavOptions a:nth-child(1):before
{
    background-color: yellow;
}

.NavOptions a:nth-child(1):after
{
    background-color: red;
}

.NavOptions a:nth-child(2):before
{
    background-color: #00e2ff;
}

.NavOptions a:nth-child(2):after
{
    background-color: #89ff00;
}

.NavOptions a:nth-child(3):before
{
    background-color: purple;
}

.NavOptions a:nth-child(3):after
{
    background-color: palevioletred;
}

#indicator
{
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 9vw;
    height: 10px;
    background-color: #fff;
    border-radius: 20px;
    transition: 0.2s ease left;
}

.NavOptions a:hover:before, .NavOptions a:hover:after
{
    transform: scale(1);
}

.NavOptions a:nth-child(1):hover ~ #indicator
{
    left: 1vw;
    background: linear-gradient(130deg, yellow, red);
}

.NavOptions a:nth-child(2):hover ~ #indicator
{
    left: 10vw;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

.NavOptions a:nth-child(3):hover ~ #indicator
{
    left: 18vw;
    background: linear-gradient(130deg, purple, palevioletred);
}
}


@media (max-width: 1400px){
    .NavOptions
    {
      margin-left: 350px;
      font-size: 20px;
      width: 30%;
    }
    .basketContainer{
        margin-left: 350px;
        width: 10%;
        margin-right: 5vh;
       
       }
    .Products{
        margin-left: 0vh;
        margin-right: 0vh;
    }
    .navbarr .btn1 {
      margin-left: -10%;
      
        
    }
 
}
@media (max-width: 992px){
    .NavOptions
    {
        margin:0;
        width: 100%;
        padding:0px;
        font-size: 3vw;
        background-color: white;
    }
    .basketContainer{
        text-align: center;
        margin-left: 0;
     margin-right: 0;
     margin-bottom: -15px;
     background-color: white;
     width: 100%;

     
       }
       .koszyk{
        font-size: 3vw;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
    }
    .basket-wrapper .custom-basket {
        font-size: 0;
        color: blueviolet;
      }
    .logo{
        width: 40vw;
 
    }
    .NavOptions a
    {
        position: relative;
        display: table-cell;
        text-align: center;
        color:  blueviolet;
        text-decoration: none;
        font-weight: bold;
        transition: 0.2s ease color;
    }
    .Aboutus{
        margin-top: 5vw;
    }
    .login{
        margin-left: 0;
        color: grey;
        font-size: 4vw;
    }
    .loginicon{
        width: 0;
        margin-left: -3vh;
    }
    .navbarr .btn1 {
        font-family: 'Lato', sans-serif;
        background-color: transparent;
        border: none;
        color: blueviolet;
        transition: 0;
        font-weight: bold;
        margin-right: 0;
        font-size: 3vw;
        background-color: white;
        width: 100%;
        margin-left: 0;
      }
      .navbarr .btn {
        font-family: 'Lato', sans-serif;
        background-color: transparent;
        border: none;
        color: blueviolet;
        transition: 0;
        font-weight: 900;
        font-size: 3vw;
        width: 100%;
        background-color: white;
      
      }
      .navbarr .btn:hover,.navbarr .btn1:hover {
        animation: 0;
        transition: 0;
      }
    }