
 .box{
  display: flex;
  height: 900px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("../../media/test.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.kol2 h2
 {
   font-size: 2.5vh;
   font-weight: normal;
   font-style: normal;
   font-weight: 600;
   color: rgb(243, 237, 249)
 }
.kol1 {
 padding-top: 1vw;
 width: 25%;
 padding-left: 1vw;
 display: flex;
 background:rgba(255, 255, 255,0.2);
 transition: .2s;
 flex-shrink: 2;
}
.kol2 {
 width: 50%;
 display: flex;
 flex-direction: column;
 padding-top: 3.2vw;
 background:rgb(47, 23, 54);
 transition: .2s;
 flex-shrink: 2;
 text-align: center;
 list-style-type: none;

}
.kol3 {
 padding-top: 1vw;
 width: 25%;
 padding-left: 1vw;
 display: flex;
 background:rgba(255, 255, 255,0.2);
 transition: .2s;
 flex-shrink: 2;
}
.inputFields {
 margin: 10px 0;
 border-radius: 20px;
 font-size: 1.5vh;
 padding: 2px;
 padding-left: 10px;
 width: 20vw;
 border: 1px solid #ffd100;
 border-top: none;
 border-left: none;
 border-right: none;
 background: rgba(255, 255, 255 );
 color: rgb(61, 19, 61);
 outline: none;
}
.inputFields:valid {
  background-color: #ffffff;
  }
.inputFields:invalid {
background-color: #ffd100;
}
#join-btn {
 border: 1px solid rgba(159, 125, 207, 0.4);
 width: 20vw;
 border-radius: 20px;
 background: rgba(159, 125, 207, 0.4);
 font-size: 18px;
 font-weight: 100;
 text-align: center;
 color: rgba(255, 255, 255, 0.7);
 cursor: pointer;
 transition: .4s;
 font-weight: 500;
}
#join-btn:hover{
   background: rgba(44, 14, 55, 0.8);
   font-weight: 900;
   transition: background .5s;
}
@media (max-width: 1450px){
 .box{
   padding-top: 40px;
 }
}
@media (max-width: 1150px){
 .box{
   padding-top: 60px;
 }
}
@media (max-width: 970px){
 .box{
   padding-top: 85px;
 }
}
@media (max-width: 800px) {
 .kol1{
   width: 5%;
 }
 .kol2{
   width: 90%;
 }
 .kol3{
   width: 5%;
 }
 .inputFields{
   width: 80%;
   padding: 1px;
 }
 .kol2 input{
   font-size: 2vh;
 }
 .box{
   padding-top: 100px;
 }
}
@media (max-width: 680px){
 .box{
   padding-top: 100px;
 }
 .kol2{
   padding-top: 50px;
 }
}
