.rightside{
    float: right;
    margin-right: 5%;
    margin-top: 2%;
}
.rightside img{
    margin-top: 2%;
    width: 10vh;
}
.leftside{
    margin-left: 2%;
}
.footerContainer{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 100%;
 
    border-top: 20px solid black;
}