@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

.rightside{
    float: right;
    margin-right: 5%;
    margin-top: 2%;
}
.rightside img{
    margin-top: 2%;
    width: 10vh;
}
.leftside{
    margin-left: 2%;
}
.footerContainer{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    background-color: #F3EDF9;
 
    border-top: 1px solid rgb(199, 199, 199);
}

.footerBg {
    background-color: #F3EDF9;
}

h6 {
    font-size: 0.7rem;
}

p {
    font-size: 0.9rem;
}

.footerPadding {
    padding: 3rem 1.5rem 3rem;
}

.bi {
    margin: 0 1rem 0;
}